
.modal--open {
    overflow: hidden;
}
.modal__overlay {
    background: none repeat scroll 0 0 #293033;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear 0s;
    width: 100%;
    z-index: 8000;
}
.modal {
    background: none repeat scroll 0 0 white;
    border: 1px solid #c2c9cc;
    left: 50%;
    max-height: 100%;
    max-width: 32rem;
    opacity: 1;
    outline: medium none;
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s linear 0s;
    width: 100%;
    z-index: 9999;
}
@media only screen and (min-width: 980px) {
.modal {
    border-radius: 4px;
    max-width: 51.2rem;
}
}
.touch .modal {
}
.modal--inactive {
    height: 0;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    z-index: -1;
}
.modal__close_btn {
    color: #6c7478;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1.26667rem;
    z-index: 100;
}
@media only screen and (min-width: 980px) {
.modal__close_btn {
    right: 1.26667rem;
}
}
.modal__header {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #f5f7f7;
    padding: 1rem 2.5rem;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
.modal__heading {
    color: #293033;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal__body {
    padding: 1.333rem;
}
.modal__footer {
    background: none repeat scroll 0 0 #e8eced;
    padding: 1rem;
    text-align: right;
}
.modal__table {
    text-align: left;
    width: 100%;
}
.modal__table th {
    border-bottom: 1px solid #e8eced;
    font-weight: 600;
    padding-bottom: 1rem;
    width: 25%;
}
.modal__table td {
    padding-top: 1.5rem;
}
.modal__table th:last-of-type, .modal__table td:last-of-type {
    text-align: right;
}
.modal__table input, .modal__table select {
    margin-bottom: 0;
}
.category_tags__container {
    font-size: 0.867rem;
    margin-bottom: 1.06666rem;
    padding: 0 1rem;
}
.category_tags__list li {
    color: #293033;
    display: inline-block;
    margin: 0 0.8rem 0.8rem 0;
}
.category_tags__tag {
    border: 1px solid rgba(57, 172, 230, 0.25);
    border-radius: 3px;
    font-weight: 600;
    line-height: 1;
    transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s;
}
.category_tags__tag:hover {
    background-color: #f5fcff;
    border-color: #39ace6;
}
.category_tags__tag a {
    color: #39ace6;
    display: block;
    padding: 0.4rem 0.5rem;
}
.page__homepage_show h1, .page__homepage_show h2, .page__homepage_show h3, .page__homepage_show h4 {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.2;
}
.page__homepage_show .site__main {
    padding: 0 1.06666rem;
}
.homepage__main_content {
    padding: 1.06666rem 0;
}
.section--gray {
    background: none repeat scroll 0 0 #e8eced;
    padding: 2rem 0 1rem;
}
.section__subheading {
    color: #293033;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
}
@media only screen and (min-width: 980px) {
.section__subheading {
    margin: 0 0 0.5rem;
}
}
.homepage_banner {
    background: none repeat scroll 0 0 white;
    width: 100%;
}
.homepage_banner__hero {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    max-width: 67.333rem;
    padding: 0 1.06666rem;
}
@media only screen and (min-width: 800px) {
.homepage_banner__hero {
    background: url("https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/homepage/home_banner-596cf5cfb37db95347a16c8cc8ef4680.png") no-repeat scroll right bottom -4rem / 23.933rem auto rgba(0, 0, 0, 0);
}
}
.homepage_banner__copy {
    margin: 2.7rem 0;
    max-width: 100%;
}
@media only screen and (min-width: 800px) {
.homepage_banner__copy {
    margin: 5.333rem 0 2.667rem;
    max-width: 34.133rem;
}
}
.homepage_banner__heading {
    color: #293033;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.333rem;
}
@media only screen and (min-width: 800px) {
.homepage_banner__heading {
    font-size: 3rem;
}
}
.homepage_banner__subheading {
    color: #6c7478;
    font-size: 1.067rem;
    margin-bottom: 1.5rem;
}
.homepage_banner__cta {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}
@media only screen and (min-width: 800px) {
.homepage_banner__cta {
    display: inline-block;
    padding: 1rem 5.5rem;
}
}
.homepage_banner__cta:focus, .homepage_banner__cta:hover {
    color: white;
    text-decoration: none;
}
.promo_video {
    display: block;
    margin: 0 -0.682594%;
    padding: 0 1.06666rem;
    width: 101.365%;
}
.promo_video::before, .promo_video::after {
    content: " ";
    display: table;
}
.promo_video::after {
    clear: both;
}
@media only screen and (min-width: 1140px) {
.promo_video {
    padding: 0;
}
}
.promo_video__container {
    background: none repeat scroll 0 0 white;
    border-radius: 0.4rem;
    display: inline;
    float: left;
    margin: 0 0.682594%;
    width: 98.6348%;
}
.promo_video__column--video, .promo_video__column--video_caption {
    display: inline;
    float: left;
    margin: 0 0.682594%;
    width: 98.6348%;
}
@media only screen and (min-width: 660px) {
.promo_video__column--video, .promo_video__column--video_caption {
    display: inline;
    float: left;
    margin: 0 0.682594%;
    width: 48.6348%;
}
}
.promo_video__column--video {
    padding: 1rem 1rem 0;
}
@media only screen and (min-width: 660px) {
.promo_video__column--video {
    padding: 2rem 0 2rem 2rem;
}
}
.promo_video__column--video_caption {
    padding: 0 1rem 1rem;
}
@media only screen and (min-width: 660px) {
.promo_video__column--video_caption {
    padding: 2rem 2rem 2rem 0;
}
}
.promo_video__thumbnail {
    cursor: pointer;
    display: block;
    position: relative;
}
.promo_video__thumbnail img {
    width: 100%;
}
.promo_video__play_container {
    height: 15.067rem;
    left: 50%;
    margin-left: -4.667rem;
    margin-top: -3rem;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
}
.promo_video__play {
    background-color: rgba(41, 48, 51, 0.55);
    display: inline-block;
    height: 6rem;
    position: relative;
    width: 9.333rem;
    z-index: 2;
}
.promo_video__thumbnail:hover .promo_video__play {
    background-color: rgba(75, 178, 50, 0.9);
}
.promo_video__play_triangle {
    border-bottom: 1.667rem solid transparent;
    border-left: 2.333rem solid white;
    border-top: 1.667rem solid transparent;
    display: inline-block;
    height: 0;
    margin-top: 1.333rem;
    width: 0;
}
.promo_video__quick_sell {
    margin-top: 1.06666rem;
}
@media only screen and (min-width: 660px) {
.promo_video__quick_sell {
    margin-left: 1rem;
}
}
@media only screen and (min-width: 660px) and (max-width: 979px) {
.promo_video__quick_sell {
    margin-top: 0;
}
}
@media only screen and (min-width: 980px) {
.promo_video__quick_sell {
    margin-top: 10%;
}
}
.promo_video__quick_sell p {
    color: #6c7478;
    font-size: 1.067rem;
}
.featured_links__heading {
    color: #c2c9cc;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
}
.featured_links__list {
    list-style: outside none none;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.featured_links__list::before, .featured_links__list::after {
    content: " ";
    display: table;
}
.featured_links__list::after {
    clear: both;
}
.featured_links__list_item {
    display: inline-block;
    margin-bottom: 1.5rem;
    width: 100%;
}
.featured_links__list_item:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 660px) {
.featured_links__list_item {
    margin-bottom: 0;
    width: 20%;
}
}
.featured_links__link {
    opacity: 0.5;
}
.featured_links__link:hover {
    opacity: 1;
}
.showcase {
    display: block;
    margin: 0 -0.682594%;
    width: 101.365%;
}
.showcase::before, .showcase::after {
    content: " ";
    display: table;
}
.showcase::after {
    clear: both;
}
.featured_campaigns {
    display: inline;
    float: left;
    margin: 0 0.682594% 2rem;
    width: 98.6348%;
}
@media only screen and (min-width: 980px) {
.featured_campaigns {
    display: inline;
    float: left;
    margin: 0 0.682594%;
    width: 65.3015%;
}
}
.featured_campaign {
    float: left;
    margin-right: 4%;
    margin-top: 2rem;
    width: 48%;
}
.featured_campaign:nth-of-type(2n) {
    margin-right: 0;
}
.featured_campaign__image {
    background: none repeat scroll 0 0 #e8eced;
    height: 10.667rem;
    position: relative;
    text-align: center;
}
@media only screen and (min-width: 660px) {
.featured_campaign__image {
    height: 17.333rem;
}
}
.featured_campaign__image:hover {
    cursor: pointer;
}
.featured_campaign__image img {
    max-height: 10.667rem;
    max-width: 100%;
    padding: 0.667rem 0;
    vertical-align: middle;
}
@media only screen and (min-width: 660px) {
.featured_campaign__image img {
    max-height: 17.333rem;
}
}
.featured_campaign__image_front {
    display: block;
    visibility: visible;
}
.featured_campaign__image:hover .featured_campaign__image_front {
    display: none;
    visibility: hidden;
}
.featured_campaign__image_back {
    display: none;
    visibility: hidden;
}
.featured_campaign__image:hover .featured_campaign__image_back {
    display: block;
    visibility: visible;
}
.featured_campaign__progress {
    background-color: #c2c9cc;
    border-radius: 0;
    box-shadow: none;
    height: 0.667rem;
    margin-bottom: 0;
    overflow: hidden;
}
.featured_campaign__progress_bar {
    background-color: #4bb232;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #4bb232;
    float: left;
    height: 100%;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.featured_campaign__details {
    margin-top: 0.333rem;
}
.featured_campaign__details__sold {
    margin: 0 0 1rem;
}
.featured_campaign__title {
    margin: 0;
}
.featured_campaign__title a {
    color: #22a3e3;
    font-size: 1.2rem;
    font-weight: 600;
}
.featured_campaign__title a:focus, .featured_campaign__title a:hover {
    color: #186a93;
    text-decoration: underline;
}
.customer_reviews {
    display: inline;
    float: left;
    margin: 0 0.682594%;
    width: 98.6348%;
}
@media only screen and (min-width: 980px) {
.customer_reviews {
    display: inline;
    float: left;
    margin: 0 0.682594% 0 9.01593%;
    width: 23.6348%;
}
}
.customer_reviews__feed {
    height: 50.667rem;
    overflow: hidden;
    position: relative;
}
@media only screen and (min-width: 660px) and (max-width: 979px) {
.customer_reviews__feed {
    height: 33.333rem;
}
}
.customer_reviews__blur {
    background: url("https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/homepage/fade-c7f47f288e2aa6684c6273c0e1e1db89.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    display: block;
    height: 13.333rem;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.customer_reviews__review {
    border-bottom: 1px solid #e8eced;
    color: #6c7478;
    padding-bottom: 2rem;
}
@media only screen and (max-width: 660px) {
.customer_reviews__review {
    padding-bottom: 1.333rem;
}
}
.customer_reviews__quote {
    color: #6c7478;
    line-height: 1.8rem;
    padding-top: 1.667rem;
}
.customer_reviews__author {
    color: #6c7478;
    font-weight: bold;
    margin-top: 0.667rem;
}
.customer_reviews__icon {
    background: none repeat scroll 0 0 #50abf1;
    border-radius: 50%;
    float: left;
    height: 2.333rem;
    margin-right: 0.667rem;
    overflow: hidden;
    position: relative;
    width: 2.333rem;
}
.customer_reviews__icon i {
    color: white;
    font-size: 1.2rem;
    height: 100%;
    position: absolute;
    width: 100%;
}
.customer_reviews__icon i::before {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.customer_reviews__icon--facebook {
    background-color: #39579a;
}
.customer_reviews__icon--phone {
    background-color: #3a8a27;
}
.customer_reviews__icon--comments {
    background-color: #c8232c;
}
.customer_reviews__icon--email {
    background-color: #c8232c;
}
.customer_reviews__reviewer {
    color: #293033;
    font-weight: 400;
    line-height: 1.2em;
    padding-top: 0.133rem;
}
.customer_reviews__source_name {
    color: #c2c9cc;
    font-size: 0.933rem;
    font-weight: 400;
}
.customer_reviews__source_name a {
    text-decoration: none;
}
.customer_reviews__source_name a:hover {
    text-decoration: underline;
}
.category_tags {
    display: block;
    margin: 0 -0.682594%;
    width: 101.365%;
}
.category_tags::before, .category_tags::after {
    content: " ";
    display: table;
}
.category_tags::after {
    clear: both;
}
.category_tags__container {
    display: inline;
    float: left;
    margin: 2rem 0.682594% 0;
    padding: 0;
    width: 98.6348%;
}
.final_sell__button {
    background: none repeat scroll 0 0 #e8f1dd;
    border-radius: 4px;
    color: #8bbf4f;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 4rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 660px) {
.final_sell__button {
    margin-bottom: 0;
    margin-top: 1.333rem;
}
}
.final_sell__button:focus, .final_sell__button:hover {
    color: #8bbf4f;
    text-decoration: none;
}
.final_sell__button span {
    color: #22a3e3;
}
.modal--video {
    background-color: transparent;
    border: 0 none;
    max-width: 96%;
    transition: max-width 300ms ease-out 0s;
}
@media only screen and (min-width: 660px) and (max-width: 979px) {
.modal--video {
    max-width: 90%;
}
}
@media only screen and (min-width: 980px) {
.modal--video {
    max-width: 70%;
}
}
.modal--video .modal__body {
    padding: 0;
    position: relative;
}
.modal--video .modal__footer {
    background: none repeat scroll 0 0 transparent;
    margin-top: 0;
    padding: 1.06666rem 0;
    text-align: center;
}
@media only screen and (min-width: 660px) {
.modal--video .modal__footer {
    padding: 1.06666rem;
}
}
.youtube_video {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 2rem;
    position: relative;
}
.youtube_video iframe, .youtube_video object, .youtube_video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.youtube-video__iframe {
    max-width: 100%;
    opacity: 0;
}
.video_modal__button--launch, .video_modal__button--hide {
    color: white;
    font-size: 1.333rem;
    font-weight: 700;
    margin: 0.333rem 0;
    padding: 0.533rem 0;
    width: 100%;
}
@media only screen and (min-width: 660px) {
.video_modal__button--launch, .video_modal__button--hide {
    margin: 0 0.333rem;
    padding: 0.533rem 1.867rem;
    width: auto;
}
}
.video_modal__button--hide {
    background-color: #6c7478;
    border: 1px solid #6c7478;
}
.video_modal__button--hide:hover {
    background-color: #60676b;
}
